
.App{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  /*background-image: linear-gradient( 99.9deg, rgba(27,24,31,100) 21.2%, rgba(50,4,89,1) 84.8% );*/
  /*background-image: linear-gradient( 99.9deg, #2193b0 21.2%, #6dd5ed 84.8% );*/
  /*background-image: linear-gradient( 99.9deg, #1A2980, #26D0CE 84.8% );*/
  background-image: linear-gradient( 99.9deg, #08061a, #240b3f 84.8% );
  /*background-image: linear-gradient(to right top, #6000c8 15%, #491aba, #3323aa, #1e2799, #0b2887, #0e2478, #102169, #111d5b, #14174d, #151140, #140a33, #130027);*/
  /*background-image: linear-gradient(25deg, rgb(0% 0% 0%) 0%, rgb(1.446% 1.029% 2.034%) 6.25%, rgb(2.892% 2.059% 4.069%) 12.5%, rgb(4.338% 3.088% 6.103%) 18.75%, rgb(5.784% 4.118% 8.137%) 25%, rgb(7.23% 5.147% 10.172%) 31.25%, rgb(8.676% 6.176% 12.206%) 37.5%, rgb(10.123% 7.206% 14.24%) 43.75%, rgb(11.569% 8.235% 16.275%) 50%, rgb(13.015% 9.265% 18.309%) 56.25%, rgb(14.461% 10.294% 20.343%) 62.5%, rgb(15.907% 11.324% 22.377%) 68.75%, rgb(17.353% 12.353% 24.412%) 75%, rgb(18.799% 13.382% 26.446%) 81.25%, rgb(20.245% 14.412% 28.48%) 87.5%, rgb(21.691% 15.441% 30.515%) 93.75%, rgb(23.137% 16.471% 32.549%) 100% );*/

  background-size: 100% 500%;
  animation: GradAnim 20s ease-in-out infinite;
}

#title{
  font-size: 50px;
}
@keyframes GradAnim {
  0% {
    background-position: 100% 0
  }
  50% {
    background-position: 100% 100%
  }
  100% {
    background-position: 100% 0
  }
}

#shit{
  width: 200px;
  height: 200px;
  box-shadow: 0 0 40px 10px peachpuff;
  animation: pulse 5s ease-in-out infinite;
}
@keyframes pulse {
  0% {
    box-shadow: 0 0 40px 10px rgba(255, 0, 0);
  }
  70% {
    box-shadow: 5px 5px 20px 10px rgba(255, 0, 0);
  }
  100% {
    box-shadow: 0 0 40px 10px rgba(255, 0, 0);
  }
}

#logo{
  margin: 1px;
  align-items: flex-end;
}

